button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #f7c2f9;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
    /*fin de personnalisation du bouton */
  
  
    form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 200px auto;
    width: 500px;
    /* Encadré pour voir les limites du formulaire */
    border: 5px solid rgb(113, 10, 160);
    border-radius: 1em;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  label {
    font-size: 30px;
  }

  input {
    height: 20px;
    font-size: 19px;
    width: 40px;
  }

  .votreage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #age {margin-top: 12px;}